{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<!-- <style>
		body { background: #e8f1f9; }
	</style> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/homepage.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Space+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;500&family=Fira+Sans&display=swap" rel="stylesheet">

{% endblock %}


{% block title %}
MusicRecs
{% endblock %}

{% block content %}

<!-- From: https://getbootstrap.com/docs/4.0/components/navbar/ -->
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark-p-4">
      <span class="text-muted">
        <p>Click the Back button to go back to your list of recommendations.</p>
        <p>Note: There may not be information available as not all artists have a Wikipedia page.</p>
        </span>
    </div>
  </div>
  <nav class="navbar-navbar-dark-bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
        Help
    </button>
  </nav>
</div>

<div class="container">
    
  <h1 class="app_name">MusicRecs</h1>      
  <h3 class="slogan">About {{artist}}</h3>

  <div class="row">
      
      <p class="lead">{{ about_artist }}</p>

      <p class="pt-5"><strong>{{ message }}</strong></p>

  </div>
    
    <p>Source: Wikipedia</p>
    <form method = "POST" action "">
        <input type="submit" value="Back" name="submit_button"/>
    </form>
</div>

{% endblock %}