{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<!-- <style>
		body { background: #e8f1f9; }
	</style> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/homepage.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Space+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">
{% endblock %}


{% block title %}
MusicRecs
{% endblock %}

{% block content %}

<div class="container">
    
  <h1 class="app_name">MusicRecs</h1>      
  <h3 class="slogan">Testing image scraper...</h3>

  <div class="row">
        <img src="{{image}}" width= "300">

      <p class="pt-5"><strong>{{ message }}</strong></p>

  </div>

</div>

{% endblock %}